<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<%- messages() %>

<%- invManagement %>

<h2>Manage Inventory</h2>
<p>Select a classification from the list</p>

<%- classificationSelect %>

<table id="inventoryDisplay"></table>